<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to the JumboSmash Bone Zone, <%= @user.name %>! </h1>
    <p>
      Population: You and <%= @other.name %>. Congrats on making a match!
    </p>
    <p>Remember, be safe!</p>
  </body>
</html>