.span8.offset2
  %form.well.form-inline
    %input.span3{:type => 'text', :placeholder => 'email'}
    %input.span3{:type => 'text', :placeholder =>'password'}
    %button.btn{:type => 'submit'} Submit
